html {
  background: #80FF00

}
h1 {
    font-family: Helvetica;
    font-size: 250%;

}
p {
    font-family: Helvetica;
    font-size: 150%;
    color: #FF0000
}
td {
    font-family: Helvetica;
    font-size: 120%;
    font-style: italic

}

